*{
    font-family: 'Open Sans', sans-serif;
}
.toc-tab-box h2.acc-title {
    color: #002d5b;
    background: #FAFAFA;
    padding: 30px 0px;
    padding-left: 60px;
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease;
    width: 100%;
    float: left;
}

.toc-tab-box .acc-content {
    background: #F3FAFD;
    width: 100%;
    margin-bottom: 4px;
    float: left;
    padding: 30px 30px 30px 60px;
    color: #617693;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.accordionItemHeading .circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
    background: #122C5F;
    color: #fff;
    margin-right: 15px;
}

.accordionItemHeading .circle span {
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    float: left;
    display: block;
    margin: 6px 14px;
}

.accordionItemHeading h4 {
    color: #389AD8;
    font-size: 16px;
    transition: all 0.5s ease;
    line-height: 24px;
    font-weight: 400;
    margin: 15px 0px;
}

.quest .answer {
    border-left: 1px solid #58ABDF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px 10px 36px;
}

.acc-content .quest {
    margin: 10px 0px;
}

@media (max-width: 768px) {
    .toc-tab-box .acc-content{
        padding:0px;
    }

}